<div class="text-center under-element box2">
  <span class="box2-title">DeliveryChatとは？</span>
  <h3>
    ご年配の方や重い荷物などをご自宅まで運ぶのが困難な方の負担を<br>
    少しでも減らしたいと思いから生まれたのがDeliveryChatです。<br>
    荷物などを近くの方にご自宅まで配達してもらえるサービスです！
  </h3>
</div>