<div class="text-center">
  <h1><i class="fas fa-info-circle"></i> 使い方</h1>
</div>
<div class="box1">
  <h2>
    1.配達してもらう人を選ぶ <br>
    2.申請を送る <br>
    3.マッチしたらメッセージを送信 <br>
    4.頼みたい商品を相手に伝えて到着を待つ <br>
    5.商品を受け取りお金を渡したら取引終了！
</div>
