<div class="text-center toppage">
  <h1>DeliveryChat</h1>
  <img src="/assets/toppage.jpg" alt="/" class="toppage_img">
</div>

<div class="parent2">
  <div class="under-element box2">
    <span class="box2-title">DeliveryChatとは？</span>
    <h3 class="exp">ご年配の方や重い荷物などをご自宅まで運ぶのが困難な方の負担を<br>
        少しでも減らしたいと思いから生まれたのがDeliveryChatです。<br>
        荷物などを近くの方にご自宅まで配達してもらえるサービスです！</h3>
  </div>  
</div>


<div class="box1">
  <h3 class="text-center box1_info"><i class="fas fa-info-circle"></i>配達を依頼する人向け 使い方</h3>
  <h4 class="explanation">
    1.配達を依頼する <br>
    2.配達してくれる人を選び頼みたい商品を相手に伝える <br>
    3.頼みたい商品をメッセージで伝える<br>
    4.商品の到着を待つ <br>
    5.商品を受け取りお金を渡したら取引終了！
  </h4>  
</div>

<div class="box1">
  <h3 class="text-center box1_info"><i class="fas fa-info-circle"></i>配達する人向け 使い方</h3>
  <h4 class="explanation">
    1.配達依頼を選ぶ <br>
    2.メッセージを送信<br>
    3.頼まれた商品を依頼者まで届ける <br>
    4.商品を私お金を受け取ったら取引終了！
  </h4>  
</div>



<% if logged_in? %>
  <div class="tab-wrap">
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">新着順</label>
    <div class="tab-content">
      <%= render 'posts/posts' %>
    </div>
    <input id="tab02" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab02">料金順</label>
    <div class="tab-content">
      <%= render 'posts/posts_price' %>
    </div>
    <input id="tab03" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab03">近い順</label>
    <div class="tab-content">
      <%= render 'posts/posts_distance' %>
    </div>
  </div>

  <%= render template: 'users/index' %>
<% end %>
