<div class="text-center toppage">
  <h1>DeliveryChat</h1>
  <img src="/assets/toppage.jpg" alt="/">
</div>

<% if logged_in? %>
  <div class="tab-wrap">
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">新着順</label>
    <div class="tab-content">
        <%= render 'posts/posts' %>
    </div>
    <input id="tab02" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab02">料金順</label>
    <div class="tab-content">
        <%= render 'posts/posts_price' %>
    </div>
    <input id="tab03" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab03">タブ ③</label>
    <div class="tab-content">
        コンテンツ 3
    </div>
</div>
  <%= render 'users/users' %>
<% end %>

  <div class="text-center under-element box2">
    <span class="box2-title">DeliveryChatとは？</span>
      <h3>
        ご年配の方や重い荷物などをご自宅まで運ぶのが困難な方の負担を<br>
        <br>
        少しでも減らしたいと思いから生まれたのがDeliveryChatです。<br>
        <br>
        荷物などを近くの方にご自宅まで配達してもらえるサービスです！
      </h3>
  </div>  


<div class="box1">
  <h3 class="text-center"><i class="fas fa-info-circle"></i> 使い方</h3>
  <h2>
    1.配達してもらう人を選ぶ <br>
    2.メッセージを送信 <br>
    3.頼みたい商品を相手に伝えて到着を待つ <br>
    4.商品を受け取りお金を渡したら取引終了！
  </h2>  
</div>
