<div class="text-center">
  <h1>DeliveryChat</h1>
  <img src="/assets/toppage2.jpg" width="600px" height="400px" alt="/">
</div>

<% if logged_in? %>
  <%= render 'users/users' %>
<% end %>

  <div class="text-center under-element box2">
    <span class="box2-title">DeliveryChatとは？</span>
      <h3>
        ご年配の方や重い荷物などをご自宅まで運ぶのが困難な方の負担を<br>
        <br>
        少しでも減らしたいと思いから生まれたのがDeliveryChatです。<br>
        <br>
        荷物などを近くの方にご自宅まで配達してもらえるサービスです！
      </h3>
  </div>  

<div class="text-center">
  <h1><i class="fas fa-info-circle"></i> 使い方</h1>
</div>
<div class="box1">
  <h2>
    1.配達してもらう人を選ぶ <br>
    2.申請を送る <br>
    3.マッチしたらメッセージを送信 <br>
    4.頼みたい商品を相手に伝えて到着を待つ <br>
    5.商品を受け取りお金を渡したら取引終了！
  </h2>  
</div>
