.users_update_btn {
  text-align: center;
}

.posts_create_btn {
  text-align: center;
}

.users_edit {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }


@media (max-width: 576px) {
  .form-group {
    width: 80%;
    margin: 0 auto 2rem;
  }
}

@media (max-width: 1000px) {
  .form-group {
    width: 60%;
    margin: 0 auto 1rem;
  }
}

@media (min-width: 1000px) {
  .form-group {
    width: 40%;
    margin: 0 auto 1rem;
  }
}

// @media (max-width: 1000px) {
//   .users_edit {
//     font-size: 1.5rem;
//   }
// }

// @media (min-width: 1000px) {
//   .users_edit {
//     font-size: 1.5rem;
//   }
// }