@media (min-width: 1000px) {
  
  // footer
  .footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
  }
  
  .list-unstyled {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .footer-list{
    display: inline-block;
    height: 25px;
    margin: 5px;
  }

  .copyright{
    clear: both;
    text-align: center;
    margin-bottom: 0;
  }

  .box1 {
    padding: 0.5rem 0;
    margin: 2rem auto;
    color: #2c2c2f;
    width: 80%;
    background: #ffffe0;
    border: solid 5px seagreen;
    text-align: center;
    
    .box1_info {
      border-bottom: solid;
      display: inline-block;
    }
    
    .explanation {
      margin-left: 2rem;
      text-align: start;
    }
  } 
  
  .parent2 {
    text-align: center;
  }
  
  .box2 {
    position: relative;
    margin-top: 4rem;
    padding: 1rem 1rem;
    border: solid 3px seagreen;
    background: #cde4ff;
    display: inline-block;
    height: 50%;
    width: 80%;
    
    .exp {
      text-align: start;
    }
  }

  .box2 .box2-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: seagreen;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }

  .f-list {
   color: white;
   height: 25px;
  }

  .toppage {
  
    img {
      width: 50%;
      height: 60%
    }
  }

  .logo {
   width: 30px;
   height: 34px;
  }
  
  .navbar {
    width: 100%;
  }
} 


@media (max-width: 999px) {
  .footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
  }
  
  .list-unstyled {
    margin-bottom: 0.5rem;
  }
  
  .footer-list{
    display: inline-block;
  }
  
  .f-list {
    color: white;
    height: 1rem;
    font-size: 0.7rem; 
    margin-bottom: 0.8rem;
    float: left;
  }
  
  .copyright{
    clear: both;
    margin: 0 auto;
    text-align: center;
  }
  
  .box1 {
    padding: 0.5rem 0;
    margin: 2rem auto;
    color: #2c2c2f;
    width: 95%;
    background: #ffffe0;
    border: solid 5px seagreen;
    text-align: center;
    
    .box1_info {
      border-bottom: solid;
      display: inline-block;
    }
 
    .explanation {
      margin: 1rem auto;
      font-size: 1.2rem;
      text-align: start;
    }
  }
  
  .toppage {
  
    img {
      width: 80%;
      height: 40%
    }
  }
  
  .logo {
   width: 5%;
   height: 5%;
  }
  
  .parent2 {
    text-align: center;
  }
  
  .box2 {
    position: relative;
    margin-top: 10%;
    padding: 1rem 1rem;
    border: solid 3px seagreen;
    background: #cde4ff;
    display: inline-block;
    height: 10%;
    width: 95%;
    
    .exp {
      font-size: 1.3rem;
      text-align: start;
    }

    .box2-title {
      position: absolute;
      display: inline-block;
      top: -18px;
      left: -3px;
      padding: 0 9px;
      height: 1rem;
      line-height: 1rem;
      font-size: 1rem;
      background: seagreen;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
    }
  }  
  
  .navbar {
    position: relative;
  }
  
  .navbar-toggler {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
}

