@media (min-width: 1000px) {
  
  .post-large {
    padding: 5px;
    background: white;
    border: solid;
    width: 800px;
    height: 180px;
    margin: 20px auto;
    position: relative;
  } 
  
  .post-small {
    padding: 5px;
    background: white;
    border: solid;
    width: 800px;
    height: 150px;
    margin: 20px auto;
    position: relative;
  }
    
  .post-user-name {
    margin: -5px auto 0 auto;
    width: 80px;
    height: 80px;
    
    p {
      width: 70px;
      height: 70px;
      // text-align: start;
      
    }
  }
    
  .post-user-img {
    width: 80px;
    height: 80px;
    margin: 10px 25px;
    border: solid;
    border-radius: 50%;
  }
    
  
  .post-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    
    .size {
      font-size: 1.5rem;
    }
  }
  
  .post-price {
    color: #00bfff;
    margin: 0 20px;
  }
  
  hr {
    clear: both;
  }
  
  .p-list {
    float: left;
    margin-left: 20px;
  }
  
  .media-body {
    margin-left: 50px;
  }
  
  .post-left {
    border: solid;
    width: 130px;
  }
  
  .post-distance {
    color: #ff9e3d;
  }
  
  .p-content {
    text-align: start;
  }
}

@media (max-width: 999px) {
  
  // .medea-body {
  //   height: 30%;
  // }
  
  .post-large {
    padding: 5px;
    background: white;
    border: solid;
    width: 100%;
    margin: 20px auto;
    position: relative;
  } 
  
  .post-small {
    padding: 5px;
    background: white;
    border: solid;
    width: 100%;
    margin: 20px auto;
    position: relative;
  }
  
  .post-user-img {
    width: 60px;
    height: 60px;
    margin: 5px 12px;
    border: solid;
    border-radius: 50%;
  }
  
  .post-user-name {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    
    p {
      width: 70px;
      height: 70px;
      
    }
  }
  
  .post-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    
    .size {
      font-size: 1.2rem;
    }
  }
  
  .post-distance {
    color: #ff9e3d;
  }
  
  .post-price {
    color: #00bfff;
  }
  
  .p-list {
    font-size: 0.9rem;
  }
  
  .p-content {
  }
}