.post-large {
  padding: 5px;
  background: white;
  border: solid;
  width: 680px;
  height: 180px;
  margin: 50px auto;
  position: relative;
} 

.post-small {
  padding: 5px;
  background: white;
  border: solid;
  width: 680px;
  height: 150px;
  margin: 50px auto;
  position: relative;
}
  
.post_user_name {
  text-align: center;
}
  
.post_user_img {
  width: 80px;
  height: 80px;
  border: solid;
  border-radius: 50%;
}
  
p {
  margin: 0.5rem 20px 0 20px;
}
  
.post-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  .size {
    font-size: 1.5rem;
  }
}

.post-price {
  color: #00bfff;
  clear: both;
}

.p-list {
  float: left;
  margin-left: 20px;
}