.parent {
  float: left;
  margin: 20px;
}

.profile {
  display: inline-block;
  background: #cfc;
  height: 350px;
  width: 235px;
  padding: 2rem;
  border: 1px solid #1a1a1a;
  border-radius: 30px;
  color: black;
}

.profile__img {
  display: block;
  width: 120px;
  height: 120px;
  border: solid;
  border-radius: 50%;
  margin: 0 auto;
}

.profile__name {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem auto 1rem;
  letter-spacing: .1rem;
}

.profile__desc {
  line-height: 1.6rem;
}

.user-show {
  display: inline-block;
  // background: #cfc;
  height: 500px;
  width: 1000px;
  padding: 2rem;
  border: 1px solid #1a1a1a;
  border-radius: 30px;
  color: black;
  margin: 50px auto;
  background: #cfc;
}

.show-face {
  display: inline-block;
  // background: #cfc;
  height: 265px;
  width: 250px;
  // padding: 2rem;
  border: 1px solid #1a1a1a;
  border-radius: 30px;
  color: black;
}

.show__img {
  display: block;
  width: 200px;
  height: 200px;
  border: solid;
  border-radius: 50%;
  margin: 1rem auto;
  // text-align: center;
}

.show__name {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem auto 1rem;
  letter-spacing: .1rem;
}

.show__address {
  margin-top: 2rem;
}

.show__desc {
  width: 600px;
  margin: 1rem 0;
}

.under-element {
  clear: both;
}

.show-btn {
  margin: 0 500px;
}

.user-show-room {
  float: left;
  margin: 20px;
}

