.parent {
  float: left;
  margin: 20px;
}

.profile {
  display: inline-block;
  background: #cfc;
  height: 350px;
  width: 235px;
  padding: 1rem;
  border: 1px solid #1a1a1a;
  border-radius: 30px;
  color: black;
}

.profile__img {
  display: block;
  width: 100px;
  height: 100px;
  border: solid;
  border-radius: 50%;
  margin: 0 auto;
}

.profile__name {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem auto;
  letter-spacing: .1rem;
}

.profile__desc {
  line-height: 1.6rem;
}

.user-show {
  display: inline-block;
  height: 500px;
  width: 950px;
  padding: 2rem;
  border: 1px solid #1a1a1a;
  border-radius: 30px;
  color: black;
  margin: 50px 0 50px 130px;
  background: #cfc;
}

.show__face {
  display: inline-block;
  height: 265px;
  width: 250px;
  border: 1px solid #1a1a1a;
  border-radius: 30px;
  color: black;
}

.show__img {
  display: block;
  width: 200px;
  height: 200px;
  border: solid;
  border-radius: 50%;
  margin: 1rem auto;
}

.show__name {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem auto 1rem;
  letter-spacing: .1rem;
}

.show__address {
  margin-top: 2rem;
}

.show__desc {
  width: 400px;
  margin: 1rem 0;
}

.element {
  float: left;
}

.under-element {
  clear: both;
}


.user-show-room {
  float: left;
  margin: 20px;
}

.user-map {
  margin-top: -520px;
  margin-left: 550px;
  
  p {
    margin-right: 50px;
  }
}

h2 {
  margin: 2rem 0;
}

.chat-btn {
  margin-left: 500px;
  // text-align: center;
}

.user-post {
  margin: 50px 0 0 50px;
  text-align: center;
}

.user_posts_index {
  margin-top: 50px;
}
