<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:seagreen;">
    <a class="navbar-brand" href="/">DeliveryChat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to user_path(current_user), class: 'nav-link', 'data-turbolinks': false do %>
              <i class="fas fa-user"></i> プロフィール
            <% end %>  
          </li>
          <li class="nav-item">
            <%= link_to logout_path, method: :delete,  class: 'nav-link' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>  
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to signup_path, class: 'nav-link' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>  
          </li>
          <li class="nav-item">
            <%= link_to  login_path, class: 'nav-link' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>  
          </li>
        <% end %>  
      </ul>
    </div>
  </nav>
</header>

